:root {
    --primary-color: #4caf93;
    --secondary-color: #edf4f0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content {
    margin: 0;
}

.container {
    max-width: 1200px;
    padding: 20px;
    background-color: white;
    position: absolute;
    width: 100%;
    top: 52%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="email"] {
    width: 100%;
}

#editor {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 20px;
}

button {
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #388e7b;
}

#invitedList {
    margin-top: 10px;
}

#invitedList li {
    list-style: none;
    background-color: var(--secondary-color);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}


.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    right: 50%;
    top: 45%;
    position: fixed;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid #ff000000;
    border-color: var(--primary-color) transparent var(--primary-color);
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Modal container - hidden by default */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

/* Modal content box */
.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    max-width: 445px;
    width: 100%;
}

/* Button styling */
.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
}

#invitedList li {
    list-style: none;
    background-color: var(--secondary-color);
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable {
    max-height: 450px !important; /* Ensure max height is applied */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding-left: 20px; /* Add padding to the left */
    padding-right: 20px; /* Add padding to the right */
}
.note-resize {
    display: none !important; /* Hide the resize bar */
}

.modal-backdrop{
    display: none !important;
}

.note-modal .modal-dialog {
    outline: 0;
    border-radius: 5px;
}

#right-column{
    position: relative;
    width: 35%;
    display: flex;
    flex-direction: column;
}

#backBtn {
    background-color: #af4c4c;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
}

#backBtn:hover {
    background-color: #8e3838;
}

#backBtn:active {
    background-color: #8e3838;
}

.btn-function {
    display: flex;
}

#back-link {
    width: 50%;
    display: inline-grid;
    margin-left: 30px;
    text-decoration: none;
}

input {
    outline: none;
}
