body {
    background-color: var(--content-color-background);
}

.container {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

#create-text {
    color: #4caf93;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

.form-row {
    display: flex;
    gap: 20px;
}

.column {
    flex: 1;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

form input, textarea, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
}

form textarea {
    height: 100px;
}

.note-editor.note-frame .note-editing-area .note-editable, .note-editor.note-airframe .note-editing-area .note-editable {
    max-height: 450px !important; /* Ensure max height is applied */
    overflow-y: auto;  /* Enable vertical scrolling */
    padding-left: 20px; /* Add padding to the left */
    padding-right: 20px; /* Add padding to the right */
}

#submit-btn {
    background-color: #4caf93;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    width: 50%;
    margin: 20px auto 0;
}

#submit-btn:hover {
    background-color: #45a881;
}

#output {
    margin-top: 20px;
    color: green;
    font-weight: bold;
}

.content {
    height: unset;
}

#project-name{
    background-color: white;
}

#task_list {
    background-color: var(--content-color-background);
}

#task_list a {
    color: var(--primary-color);
}

.column-left {
    width: 70%;
}

.column-right {
    width: 30%;
    padding-left: 10px;
    border-left: 1px solid #c8c8c8;
}

.ql-snow * {
    font-size: 20px;
}

#editor {
    height: 450px;
}

#fileList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#fileList li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#fileList li span {
    color: red;
    font-size: 18px;
}

.file-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file-btn:hover {
    background-color: #0056b3;
}

#fileList {
    list-style-type: none;
    padding: 0;
}
#fileList li {
    margin: 5px 0;
    display: flex;
    align-items: center;
}
#fileList li span {
    margin-left: 10px;
    color: red;
    cursor: pointer;
}

.avatar-app {
    cursor: none;
}

.comment {
    padding: 20px;
    background-color: #ffffff;
    margin: 5px 0;
    border-radius: 10px;
}

#commentForm {
    margin-bottom: 40px;
    width: 100%;
}

#userResults {
    display: none;
    list-style: none;
    top: 60px;
    max-height: 100px;
    margin-bottom: 20px;
    overflow: scroll;
}

.add-comment-form {
    display: flex;
    flex-direction: column;
}

.comment-input-area {
    display: flex;
}

.notified-area {
    position: relative;
}

h4 {
    margin: 0 auto;
    width: fit-content;
}

.selected-users {
    display: flex;
    justify-content: start;
    max-height: 250px;
    overflow-y: auto;
    border-radius: 5px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}
.selected-users .selected-user {
    width: fit-content;
    display: inline-block;
    background: #ffffff;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 20px;
    position: relative;
}
.selected-users .close-user {
    cursor: pointer;
    color: red;
    margin-left: 5px;
}
.user-results {
    margin-top: 5px;
    list-style-type: none;
    padding: 0;
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 100%;
}
.user-results .user-item {
    padding: 5px;
    background: #f9f9f9;
    cursor: pointer;
}
.user-results .user-item:hover {
    background: #ececec;
}

.column-left-comment {
    width: 60%;
}

.column-right-comment {
    width: 40%;
}
