/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/resources/private
/.fly/php/ondrej_ubuntu_php.gpg
/.dockerignore
/.fly/php/packages/7.4.txt
/.fly/php/packages/8.0.txt
/.fly/php/packages/8.1.txt
/.fly/php/packages/8.2.txt
/.fly/php/packages/8.3.txt
/.fly/nginx/conf.d/access-log.conf
/.fly/scripts/caches.sh
/.fly/nginx/sites-available/default
/.fly/nginx/sites-available/default-octane
/Dockerfile
/.fly/entrypoint.sh
/fly.toml
/.github/workflows/fly-deploy.yml
/.fly/supervisor/conf.d/fpm.conf
/.fly/nginx/nginx.conf
/.fly/supervisor/conf.d/nginx.conf
/.fly/start-nginx.sh
/.fly/supervisor/supervisord.conf
/.fly/nginx/conf.d/websockets.conf
/.fly/fpm/pool.d/www.conf
