* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Colors */
:root {
    --primary-color: #4caf93;
    --secondary-color: #edf4f0;
    --content-color-background: #f0f0f0;
}

/* Header - Horizontal Navigation */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(184,184,184,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(184,184,184,1);
    box-shadow: 0px 1px 0px 0px rgba(184,184,184,1);
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
}

.projects-link {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-right {
    display: flex;
    align-items: center;
}

.avatar-app {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    cursor: pointer;
}

.notification {
    position: relative;
}

.notification-icon {
    cursor: pointer;
    font-size: 30px !important;
    color: #707070;
}

/* Notification Vertical Bar */
.notification-bar {
    position: fixed;
    top: 0;
    right: -450px;
    width: 450px;
    height: 100vh;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    transition: right 0.3s ease;
    z-index: 20;
}

.notification-bar ul {
    list-style: none;
}

.notification-bar ul li {
    padding: 1rem;
    border-bottom: 1px solid white;
}

/* Sidebar - Vertical Navigation */
.sidebar {
    background-color: var(--primary-color);
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 9;
    padding-top: 74px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px;
    display: block;
    font-weight: 600;
}

.sidebar ul li:hover {
    background-color: var(--content-color-background);
}

.sidebar ul li:hover a{
    color: var(--primary-color)!important;
}

/* Content */
.content {
    margin-left: 200px;
    padding: 0 20px;
    position: relative;
    height: 100vh;
    background-color: var(--content-color-background);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.notification {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

.notification:hover::before,
.notification:focus::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 50%;
    background-color: lightgrey;
    opacity: 0.5;
    z-index: -1;
}

#close-contain {
    text-align: right;
    margin-bottom: 20px;
}

.close-icon {
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
}

.projects-link {
    color: #707070;
    padding: 10px 15px;
    border-radius: 5px;
    transition: all 0.1s linear;
    font-size: 20px;
}

.projects-link:hover {
    background-color: #e0e4e2;
    color: var(--primary-color);
}

.projects-link:active {
    background-color: #e0e4e2;
    color: var(--primary-color);
}

#hamburger-icon {
    position: absolute;
    top: 15px;
    color: white;
    display: none;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
    .sidebar {
        width: 40px;
        transition: width 0.3s ease;
    }

    .sidebar ul {
        display: none;
    }

    .sidebar.open-side {
        width: 200px;
    }

    .sidebar.open-side ul {
        display: block;
    }

    .logo-section {
        display: flex;
        align-items: center;
    }

    .header .logo {
        font-size: 1.2rem;
    }

    #project-name,
    .content
    {
        margin-left: 40px;
    }

    #hamburger-icon {
        display: block;
    }
}

#loadingIndicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #4caf93;
    font-size: 24px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1000;
}

.lds-dual-ring,
.lds-dual-ring:after {
    box-sizing: border-box;
}
.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    right: 50%;
    top: 45%;
    position: fixed;
    margin: 8px;
    border-radius: 50%;
    border: 6.4px solid #ff000000;
    border-color: var(--primary-color) transparent var(--primary-color);
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.error {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

#addFilesBtn {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 10px 20px; /* Padding for top/bottom and left/right */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from text */
    display: inline-block; /* Allow padding and margins */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Change cursor to pointer on hover */
    border-radius: 5px; /* Rounded corners */
}

#addFilesBtn:hover {
    background-color: #45a049; /* Darker green on hover */
}

#addFilesBtn:focus {
    outline: none; /* Remove outline on focus */
}
